<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4682d38b-24f0-4377-9dd8-db8a48aee73b/resourceGroups/registries/providers/Microsoft.ContainerRegistry/registries/myregistrydemo1234</ResourceId>
    <ResourceName>myregistrydemo1234</ResourceName>
    <ResourceGroup>registries</ResourceGroup>
    <Subscription>Azure Subscription - Training</Subscription>
    <RegistryUrl>https://myregistrydemo1234.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>